/* Variabes */
$grey: #f3f3f3;
$white: #fff;

/* Mixin's */
@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@mixin corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -khtml-border-radius: $radius;
}

body {
  height: 100vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  background: rgb(0, 31, 143);
  background: linear-gradient(
    0deg,
    rgba(0, 31, 143, 1) 31%,
    rgba(61, 117, 255, 1) 100%
  );
}

.wrapper {
  margin-top: 40vh;
  margin-left: 22vw;
  width: 800px;
  color: $white;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds,
#tens {
  font-size: 2em;
}

button {
  @include corners(5px);
  background: #3d75ff;
  color: $white;
  border: solid 1px $white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  &:hover {
    @include transition;
    background: $white;
    border: solid 1px $white;
    color: #032869;
  }
}
